<div class="container-fluid">
  <div class="offset-md-4 col-md-4">
    <h1>Posts</h1>
    <div>
      <span>Sort by: </span>
      <%= sort_link(@q, :id, 'ID') %>
      <%= sort_link(@q, :created_at, 'Created at') %>
    </div>
    <%= render partial: 'post', collection: @posts %>
  </div>
</div>
